h1 {
	font-size:6vw;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: rgb(238, 253, 233);
	text-shadow: 1px 1px 2px darkgreen;
}

h2 {
	font-size: 4vw;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: rgb(238, 253, 233);
	text-shadow: 1px 1px 2px darkgreen;
}